*.mat
*.txt
*.csv
*.json
*.vscode/launch.json
*.jsonl
*.html
*.zip
*.rar
*.7z
*.ps1
*.pyc


*/result/*
/idea
/.workbuddy
/__pycache__
/.Codex
/.vscode
/.workbuddy
/1paperabout
/zOld
/计划